@model People
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
     <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="conteiner m-4">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-headar">
                Form

            </div>
            <div class="card-body">
                <form asp-action="apply" method="POST">
                    <div asp-validation-summary="All"></div>
                    <div class="form-group"> <label asp-for="Name"> Name: </label>
                        <input asp-for="Name" class="form-control">
                    </div>
                    <div class="form-group"> <label asp-for="Email"> E-mail: </label>
                        <input asp-for="Email" class="form-control">
                    </div>
                    <div class="form-group"><label asp-for="Phone"> Phone: </label>
                        <input asp-for="Phone" class="form-control">
                    </div>
                    <div class="form-group"> <label asp-for="Confirm"> Check: </label>
                        <select asp-for="Confirm" class="form-control">
                            <option value=""> Select</option>
                            <option value="true"> Yes</option>
                            <option value="false"> No</option>

                        </select>
                    </div>
                    <input type="submit" value="Submit" class="btn btn-primary btn-block">
                </form>


            </div>
        </div>
    </div>

</body>

</html>